.container {
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
}

.col-3 {

}

.link-align {
  display: flex;
  justify-content: space-evenly;
}

.header {
  width: 90vw;
  display: flex;
  justify-content: space-between;

  /* border: 2px red solid; */
  margin: 0 5vw;
}

.header h2 {
  margin: 0;
  color: orange;
  text-align: center;
}

.header a {
  color: black;
  text-decoration: none;
  margin: auto 1rem;
  font-weight: bold;
}

.orange-border {
  border: 2px solid orange;
  border-radius: 3px;
}

.orange-button {
  border: hidden;
  background-color: orange;
  color: white;
  border-radius: 4%;
  padding: 0.4rem;
}

.search-button {
  justify-content: center;
  margin: 1rem;
}

.search-button input {
  border: hidden;
  width: 35vw;
  padding: 0.5rem;
}
