* {
  font-family: sans-serif;
}

.container {
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
}

.col-25 {
  width: 25%s;
}

.col-100 {
  width: 100%;
}

img {
  width: 100%;
}

.link-align {
  display: flex;
  justify-content: space-evenly;
}

.header {
  width: 90vw;
  display: flex;
  justify-content: space-between;

  /* border: 2px red solid; */
  margin: 0 5vw;
}

.header h2 {
  margin: 0;
  color: #e97001;
  text-align: center;
}

.header a {
  color: black;
  text-decoration: none;
  margin: auto 1rem;
  font-weight: bold;
}

.orange-border {
  border: 2px solid #f3d58e;
  border-radius: 3px;
}

.orange-button {
  border: hidden;
  background-color: #e97001;
  color: white;
  border-radius: 4%;
  padding: 0.47rem;
  margin-right: 0.07rem;
}

.search-button {
  justify-content: center;
  margin: 1rem;
}

.search-button input {
  border: hidden;
  width: 35vw;
  padding: 0.5rem;
}

.hero-img {
  background-image: url("./images/hero-image.webp");
  background-size: cover;
  padding: 5em 10em;
}

.hero-img > * {
  color: white;
}

.hero-img h3 {
  font-size: 92%;
}

.hero-img p {
  font-size: 120%;
  margin-right: 40%;
}

.round-butt {
  border-radius: 15px;
  font-size: 110%;
  padding: 0.4rem 0.8rem;
}

.center {
  text-align: center;
}

.info-tiles {
  /* border: 2px solid red; */
  text-align: center;
  width: 90vw;
  margin: 0 5vw;
}

.info-tiles a {
  text-decoration: none;
  font-weight: 600;
  color: #177992;
  font-size: 80%;
}

.info-tiles p {
  font-size: 70%;
}

.info-tiles img {
  width: 95%;
  height: 120px;
}

.tile {
  border: 1px solid lightgray;
  margin: 0 1vw;
  padding: 0 1vw;
  padding-bottom: 1.2rem;
}

.signup-button {
  justify-content: center;
  margin: 1rem;
  margin-top: 1.5rem;
}
