.container {
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
}

.col-3 {
  width: calc(100% / 3);
}

.link-align {
  display: flex;
  justify-content: space-evenly;
}

.header h2 {
  margin: 0;
  color: orange;
}

.header a {
  color: black;
  text-decoration: none;
}
